<html lang="en">
<head>
    <title th:text="${appName}"></title>

    <meta charset="ISO-8859-1">
    <title>Add Bootstrap to Thymeleaf</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Welcome to <span th:text="${appName}">Our App</span></h1>

    <form action="/tasks/submit" method="post">
        <label for="taskName">Task Name</label>


        <input class="form-control" id="taskName" type="text" name="taskName"/>
        <small id="taskNameHelp" class="form-text text-muted">Specify to which task you switched</small>
        <button type="submit">Send</button>
    </form>
    <footer>
        <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}" id="success"></div>
        <div class="alert alert-danger" role="alert" th:text="${fail}" th:if="${fail}" id="fail"></div>
    </footer>
</div>
<script>
    window.onload = function() {
        setTimeout(function() {
            var successAlert = document.getElementById('success');
            var failAlert = document.getElementById('fail');
            if (successAlert) {
                successAlert.style.opacity = '0';
            }
            if (failAlert) {
                failAlert.style.opacity = '0';
            }
        }, 3000);
    }
</script>
</body>
</html>
