<html lang="en">
<head>
    <title th:text="${appName}"></title>

    <meta charset="ISO-8859-1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>
<div class="container">
    <h1>Welcome to <span th:text="${appName}">Our App</span></h1>

    <h4>Getting interrupted all the time? <br>Cannot focus on your tasks? <br>Track your interruptions here to improve
        focus</h4>
    <br><br>

    <form action="/interruptions/buttonClicked" method="post">
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="isHomeOffice" name="isHomeOffice"
                           value="true" th:checked="${isHomeOffice}">
                    <label class="form-check-label" for="isHomeOffice">Are you in the Home office?</label>
                </div>
                <input type="hidden" name="isHomeOffice" value="false">
            </div>
        </div>
        <div class="form-group row">
            <div class="row">
                <th:block th:each="interruption, iterStat : ${interruptions}">
                    <div class="col-md-3 mb-3">
                        <button type="submit" th:name="actionId"
                                th:value="${interruption.id}" class="btn btn-block"
                                th:classappend="${interruption.buttonClass}">
                            <i th:class="${'fas ' + interruption.iconClass}"></i>
                            <span th:text="${#strings.replace(interruption.name(), '_', ' ')}"></span>
                        </button>
                    </div>
                    <th:block th:if="${iterStat.count % 4 == 0 and not iterStat.last}">
                        <div class="row"></div>
                    </th:block>
                </th:block>
            </div>
        </div>

    </form>
    <footer>
        <span>Your identifier is: <span th:text="${identifier}"></span></span>
        <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}" id="success"></div>
        <div class="alert alert-danger" role="alert" th:text="${fail}" th:if="${fail}" id="fail"></div>
    </footer>
</div>
<script>
    window.onload = function () {
        setTimeout(function () {
            var successAlert = document.getElementById('success');
            var failAlert = document.getElementById('fail');
            if (successAlert) {
                successAlert.style.opacity = '0';
            }
            if (failAlert) {
                failAlert.style.opacity = '0';
            }
        }, 3000);
    }
</script>
</body>
</html>
